-r ./requirements.txt

# Requirements that are used in the development environment only
# Testing
factory-boy
responses

# Syntax checking
flake8
black==24.*
isort
pre-commit

# building static docs
pdoc==14.5.1
